:root {
  --brand__color_darkblue: #00113D;
  --brand__color_lightblue: #0732A2;
  --brand__color_teal: #15E6DD;
  --brand__color_darkgrey: #75787B;
  --brand__color_pink: #F94878 ;
  
}

body {
  background-color: var(--brand__color_darkblue);
  text-transform: lowercase;
  font-family: Raleway, sans serif;
  color: white;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.ubility-header {

    margin: .8rem;

}

.ubility-logo-content {
    display: inline-block;
    vertical-align: middle;
    border-right: 2px solid white;
    padding-right: 1.5rem;
}

.ubility-logo-link {
  text-decoration: none;
  color: white;
  
}

.ubility-logo-image {
  display: inline-block;
  vertical-align: middle;

}

.ubility-logo-text {
  display: inline-block;
  vertical-align: middle;
  color: var(--brand__color_teal);
  text-transform: uppercase;
}

i.fas.fa-wheelchair {
        font-size: 3rem;
        display: inline-block;
}


.ubility-desc-container {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.5rem;
}

.ubility-desc-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.ubility-search-review-container {
    background-image: url('../images/5.png');
    background-size: cover;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;

}

.ubility-search-review-heading {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

#search-review-bar {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

input[type="text"] {
    border-radius: 5px;
    width: 400px;
    font-size: 22px;
}

input:focus, button:focus {

    outline: none;

}

a:hover {
    cursor: pointer;
}

button.search-review-button {
    padding: .4rem .6rem;
    border-radius: 3px;
    display: inline-block;
}

button.search-review-button:hover {
    cursor:pointer;
}

i.fas.fa-search {
    font-size: 18px;
}