:root {
  --brand__color_darkblue: #00113D;
  --brand__color_lightblue: #0732A2;
  --brand__color_teal: #15E6DD;
  --brand__color_darkgrey: #75787B;
  --brand__color_pink: #F94878 ;
  
}

body {
  overflow: unset !important;
  margin: .8rem !important;
}



input {
  display: block;
}

.leave-a-review {
  font-size: 1.6rem;
}

.search-results.grid {
    display: grid;
}

.accessibility {
  font-size: 2rem;
  margin: .5rem 1rem;
}

.react {
  font-size: 2rem;
  margin: .5rem 1rem;
}

.fa-star {
  font-size: 2rem;
}